{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
{% include 'shared/_topnav.html' %}
<div class="parent"> 
{% include 'shared/_navbar.html' %}

<div class="div2">
    <h1>Home</h1>
    <p> 
        Welcome to the home page!
        
        Incididunt commodo ut aliquip in aliquip fugiat mollit laboris. Excepteur nisi aliquip nulla nisi esse ea fugiat veniam minim ipsum proident. Est incididunt id labore officia nulla velit dolor anim ipsum et velit. Voluptate incididunt quis commodo quis quis labore occaecat. Ex culpa et proident anim amet nulla consequat culpa tempor aliqua voluptate.

        Sunt nostrud nulla eiusmod amet proident sunt non dolor dolor occaecat. Quis laborum deserunt sit incididunt ea. Aute magna non Lorem veniam. Elit sunt incididunt veniam labore velit tempor amet.
    </p>

    <div class="nav-toggle">Toggle</div>
</div>
</div>
    
{% endblock %}
