<div class="nav-bar div1">
    <a href="{% url 'inventories' %}">
        <div class="nav-item">
            Inventory
        </div>
    </a>

    <a href="{% url 'products' %}">
        <div class="nav-item">
            Product
        </div>
    </a>

    <a href="{% url 'product_types' %}">
        <div class="nav-item">
            Product Type
        </div>
    </a>

    <a href="{% url 'customer' %}">
        <div class="nav-item">
            Customer
        </div>
    </a>

    <a href="{% url 'supplier' %}">
        <div class="nav-item">
            Supplier
        </div>
    </a>

    <a href="{% url 'driver' %}">
        <div class="nav-item">
            Driver
        </div>
    </a>

    <a href="{% url 'vehicles' %}">
        <div class="nav-item">
            Vehicle
        </div>
    </a>

    <a href="{% url 'destinations' %}">
        <div class="nav-item">
            Detination
        </div>
    </a>

    <a href="{% url 'report' %}">
        <div class="nav-item">
            Report
        </div>
    </a>
</div>